# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Node.js
node_modules/
dist/
.vite/

# Переменные окружения
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# ОС
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
*.tmp
*.temp